<div>
  <mat-toolbar class="toolbar">
    <h1 class="text-white title">Scrum Master</h1>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse">
        <div class="navbar-nav ps-4">
          <a class="nav-item nav-link ps-4" routerLink="/story-list" routerLinkActive="active">Story</a>
          <a class="nav-item nav-link ps-4" routerLink="/sprint-form"  routerLinkActive="active">Sprint Calculator</a>
        </div>
      </div>
    </nav>
    <span class="example-spacer"></span>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>